/*
Development: tobija.ch
*/
body {
  font-family: Helvetica, sans-serif;
}
header {
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: min(36px, calc(16px + 1.5vw));
  color: #161616;
  display: inline-block;
  margin-right: 12px;
}
header a:not(.text-link) {
  text-decoration: none;
  border-radius: 0px;
  border: none;
  padding: 14px 24px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: #161616;
  cursor: pointer;
  transition: all .2s ease-in-out;
  order: 1;
}
header a:not(.text-link):hover {
  border-radius: 8px;
  background: #222;
}
a.text-link {
  text-decoration: none;
  color:#999;
  margin: 0 12px;
  transition: color .2s ease-out;
}
a.text-link:hover {
  color:#161616;
}
iframe {
  height: calc(100vh - 60px) !important;
}
@media screen and (max-width: 920px) {
header h1 {
  font-size: calc(16px + 1vw);
}
header a:not(.text-link) {
  padding: 14px 24px;
  font-size: 14px;
}
}
@media screen and (max-width: 720px) {
  div#pdf-wrapper {
    display: none;
  }
  header {
    flex-wrap: wrap;
    height: auto;
    padding: 16px;
    gap: 16px;
  }
  a.text-link {
    margin: 0;
  }
  iframe {
    height: calc(100vh - 111px) !important;
  }
}